<form action="/projects" method="POST">
    <input name="title" required placeholder="Enter the title of your project"/>
    <input name="goal" required type="number"/>
    <button type="submit">Kickstart this project!</button>
</form>