<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    </head>
    <body>
        <header>
            <h1><a href="/projects">Kickstarter</a></h1>
            <a class="cap" href="/projects/new">Create A Project!</a>
            <%unless session[:user] != nil%>
                <a href="/users/new">Log In</a>
            <%end%>
            <%unless session[:user].nil?%>
                <p>Logged in as: <%=session[:user].name%></p>
                <a href="/users/logout">Logout</a>
            <%end%>
            
        </header>
        <main>
            <%=yield%>
        <main>
    </body>
</html>