<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    </head>
    <body>
        <header>
            <h1>Kickstarter</h1>
            <a class="cap" href="/projects/new">Create A Project!</a>
        </header>
        <main>
            <%=yield%>
        <main>
    </body>
</html>